/* banner.module.css */

.slideImg {
  width: 20%;       /* عرض کامل اسلاید */
  height:20%;     /* ارتفاع دلخواه - کم یا زیاد کن */
  object-fit: cover; /* برای برش درست تصویر بدون کشیدگی */
  border-radius: 12px; /* گوشه‌های گرد برای زیبایی */
}
