<<<<<<< HEAD
/* banner.module.css */

.slideImg {
  width: 20%;       /* عرض کامل اسلاید */
  height:20%;     /* ارتفاع دلخواه - کم یا زیاد کن */
  object-fit: cover; /* برای برش درست تصویر بدون کشیدگی */
  border-radius: 12px; /* گوشه‌های گرد برای زیبایی */
=======
.swiper {
  width: 100%;
  height: 45vh; /* ارتفاع مناسب */
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

/* هر اسلاید */
.swiper-slide {
  display: flex;
  align-items: center;      /* عکس عموداً وسط */
  justify-content: center;  /* عکس افقاً وسط */
  background: #000;         /* پس‌زمینه برای فضاهای خالی */
}

/* عکس‌ها */
.slideImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;      /* عکس کاملاً دیده میشه */
  object-position: center;  /* دقیقاً وسط تصویر */
  display: block;
}


/* هر اسلاید */
.swiper-slide {
  display: flex;
  align-items: center;      /* عکس عموداً وسط */
  justify-content: center;  /* عکس افقاً وسط */
  background: #000;         /* پس‌زمینه برای فضاهای خالی */
}

/* عکس‌ها */
.slideImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;      /* عکس کاملاً دیده میشه */
  object-position: center;  /* دقیقاً وسط تصویر */
  display: block;
>>>>>>> fcb3719 (Add current project files)
}
